:root {
    --bg-light: #F3F4F6;
    --text-dark: #1E293B;
    --accent-color: #06B6D4;
    --bg-dark: #0F172A;
    --text-light: #E2E8F0;
    --accent-dark: #3B82F6;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-dark);
    background: var(--bg-light);
    line-height: 1.8;
    transition: background 0.5s, color 0.5s;
}

header {
    background: var(--accent-color);
    padding: 1rem 2rem;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

#toggleTheme {
    padding: 0.5rem 1rem;
    border: none;
    background: var(--text-dark);
    color: var(--bg-light);
    cursor: pointer;
    border-radius: 20px;
    margin: 10px ;
    flex: 0 0 auto;
}

.nav-links{
    margin: 10px;
    flex: 1;

}

.logo{
    flex: 0 0 auto;
}

#hero {
    text-align: center;
    padding: 6rem 2rem;
    background: linear-gradient(135deg, var(--accent-color), #06B6D4);
    color: white;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#hero .button {
    background: white;
    color: var(--accent-color);
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
}

#hero .button:hover {
    background: var(--accent-color);
    color: white;
}

#about, #contact {
    padding: 4rem 2rem;
    margin: 2rem auto;
    border-radius: 12px;
    max-width: 1100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

footer {
    text-align: center;
    padding: 2rem;
    background: var(--text-dark);
    color: var(--bg-light);
}

.dark-mode {
    background: var(--bg-dark);
    color: var(--text-light);
}

.dark-mode footer {
    background: var(--bg-dark);
}

.dark-mode header {
    background: var(--accent-dark);
}

.dark-mode nav a {
    color: var(--text-light);
}

.dark-mode #toggleTheme {
    background: var(--text-light);
    color: var(--bg-dark);
}

.email-btn {
    padding: 0.6rem 1rem;
    border: none;
    background: var(--accent-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.email-btn a {
    text-decoration: none;
    color: white;
}

.email-btn:hover {
    background: var(--accent-dark);
}
